<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
<h1 sec:authentication="name">Welcome</h1>

<h1>Welcome to your Dashboard</h1>
<h1>This site coming soon......</h1>
<form action="/perform_logout">
    <input type="submit" value="Log Out">

</body>
</html>