<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp</title>
</head>
<body>


<h1>Welcome To Code Fellow, Please Signup</h1>

<form action="/signup" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username"><br><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password"><br><br>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" placeholder="First Name"><br><br>
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" placeholder="Last Name"><br><br>
    <label for="dateOfBirth">Date of Birth</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth" placeholder="Date of Birth"><br><br>
    <label for="bio">Bio</label>
    <input type="text" name="bio" id="bio" placeholder="Bio"><br><br>
    <input type="submit">

</form>

</body>
</html>
